<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header -->

<head>
	<div th:include="fragments/header :: header"></div>
</head>

<body>
	<!-- menu -->
	<div th:include="fragments/navbar :: navbar"></div>

	<!-- body -->
	<form th:action="@{/estimation-2}" th:object="${estimation}" class="form-horizontal" method="POST">
		<div class="container">
			<input type="hidden" th:field="*{roomId}" />
			<input type="hidden" th:field="*{interiorDecoration}" />
			<input type="hidden" th:value="${pageStatus}" th:attr="name='pageStatus'" />
			<th:block th:each="roomCategory: ${ roomCategories }">
				<div class="mt-4 mb-2">
					<div class="row  ps-1 mb-2 title-1" th:text="${ roomCategory.categoryName }" />
					<div class="row">
						<th:block th:each="roomService: ${ roomCategory.roomServices }">
							<div class="col-1  label-1">
								<label th:text="${roomService.serviceName}" />
							</div>
							<div class="col-3  form-control-1">
								<th:block th:if="${ roomService.roomProducts.size() eq 1 }">
									<th:block th:each="prod : ${roomService.roomProducts}">
										<input type="checkbox" class="form-check-input"
											th:field="*{__${roomService.serviceShortName}__}"
											th:value="${prod.productId }" th:disabled="${ pageStatus }" />
										<label class="form-check-label"
											th:for="${#ids.prev(roomService.serviceShortName)}"
											th:text="${prod.productName}" />
									</th:block>
								</th:block>
								<th:block th:if="${ roomService.roomProducts.size() gt 1 }">
									<select th:field="*{__${roomService.serviceShortName}__}"
										th:disabled="${ pageStatus }">
										<option th:each="prod : ${roomService.roomProducts}"
											th:value="${prod.productId}" th:text="${prod.productName}" />
									</select>
								</th:block>
							</div>
						</th:block>
					</div>
				</div>
			</th:block>

			<!-- button -->
			<div class="row d-flex mt-2">
				<th:block th:if="${ !pageStatus }">
					<div class="col d-flex justify-content-start">
						<button type="submit" class="btn btn-primary col-4" name="action" value="prev">上一步</button>
					</div>
					<div class="col d-flex justify-content-end">
						<button type="submit" class="btn btn-primary col-4" name="action" value="next">下一步</button>
					</div>
				</th:block>
				<th:block th:if="${ pageStatus }">
					<div class="col d-flex justify-content-center" th:if="${ pageType == 'DETAIL' } ">
						<a class="btn btn-primary col-4" href="@{/estimation-search}" role="button">返回</a>
					</div>
					<div class="col d-flex justify-content-start"
						th:if="${ pageType == 'EDIT' || pageType == 'NEW'  } ">
						<button type="submit" class="btn btn-primary col-4" name="action" value="prev">上一步</button>
					</div>
					<div class="col d-flex justify-content-end" th:if="${ pageType == 'EDIT' }">
						<button type="submit" class="btn btn-primary col-4" name="action" value="update">更新</button>
					</div>
					<div class="col d-flex justify-content-end" th:if="${ pageType == 'NEW' }">
						<button type="submit" class="btn btn-primary col-4" name="action" value="save">保存</button>
					</div>
				</th:block>
			</div>
	</form>


	<!-- footer -->
	<div th:include="fragments/footer :: footer"></div>
</body>

</html>