<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header -->

<head>
	<div th:include="fragments/header :: header"></div>
</head>

<body>
	<!-- menu -->
	<div th:include="fragments/navbar :: navbar"></div>

	<!-- body -->
	<form action="@{/estimation-search}" class="form-horizontal" method="GET">
		<div class="container">
			<div class="card">
				<div class="card-body">
					<div class="col d-flex justify-content-center">
						<h5 class="card-title" th:text="'申请编号:(' + ${ estimationId } + ')'">的预算申请
							<th:block th:if="${pageType eq 'NEW' }">
							提交
							</th:block>
							<th:block th:if="${pageType eq 'EDIT' }">
							更新
							</th:block>							
							成功。
						</h5>
					</div>
					<div class=" d-flex justify-content-center">
						<p class="card-text">预估预算总价 - 报价逻辑---开发中...</p>
					</div>
				</div>
			</div>
			<div class="col d-flex justify-content-center">
				<button type="submit" class="btn btn-primary btn-sm col-4" name="action" value="return">返回</button>
			</div>
		</div>
	</form>

	<!-- footer -->
	<div th:include="fragments/footer :: footer"></div>
</body>

</html>